body{
 background-color: rgba(255,140,000,.6);
 margin: 0;
}

h1{
 font-family: 'Abril Fatface', 'cursive';

}

header{
 background-color: rgba(255,140,000,.6);
 text-align: center;
 margin-top: -20px;
}

figcaption{
 font-family: 'Roboto Mono', Arial, serif; font-weight: 400; 
 float: right;
 margin-right: 60px;
}

#head {
 float: clear;
 float: right;
 margin-top: 20px;
 margin-right: 50px;
 width: 300px;
}

button{
 display:block;
}

.parts {
 width: 70%;
}

.eyes {
 width: 160px;
 float: clear;
 float: left;
}

.hair {
 width: 330px;
 float: clear;
 float: left;
}

.insane-hair {
 width: 450px;
 float: clear;
 float: left;
}

.cruz-hair {
 width: 300px;
 float: clear;
 float: left;
}

.mouth {
 width: 100px; 
 float: clear;
 float: left;
}

.insane-mouth {
  width: 250px; 
  float: clear;
  float: left;
}

.cruz-mouth {
  width: 150px; 
  float: clear;
  float: left;
}

footer {
  float: clear;
  font-family: 'Roboto Mono', sans serif;
  background-color: rgba(255,140,000,.6);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

ul {
 text-align: center;
 display: inline;
 list-style-type: none;
}




